<root>
   <name>Father</name>
   <key>father</key>
   <state>stable</state>
   <logo>https://forge.glpi-project.org/attachments/740/logo.png</logo>
   <description>
      <short>
	      <fr><![CDATA[Ajouts d'une notion de père/fils entre les tickets.]]></fr>
      </short>
      <long>
         <fr><![CDATA[- Ajout d'un champ aux tickets de GLPI (étendant CommonDBTM).
        <br />- Le champ "père" est visibles et modifiables en entête de l'objet (en dessous du titre).
        <br />- Le champ "père" peut être recherché et visualisé dans les listes d'objet
        <br />- La modification du status d'un ticket père engendre l'affectation du nouveau status pour les tickets liés ( selon paramétrage )
        ]]>
         </fr>
      </long>
   </description>
   <homepage>https://github.com/Probesys/glpi-plugins-father</homepage>
   <download>https://github.com/Probesys/glpi-plugins-father/releases</download>
   <issues>https://github.com/Probesys/glpi-plugins-father/issues</issues>
   <readme>https://github.com/Probesys/glpi-plugins-father/README.md</readme>
   <authors>
      <author>PROBESYS</author>
      <author>Cyril ZORMAN</author>
      <author>Philippe GODOT</author>
   </authors>
   <versions>
      <version>
         <num>1.0.2</num>
         <compatibility>9.1, 9.2, 9.3</compatibility>
      </version>
      <version>
         <num>1.1</num>
         <compatibility>9.4</compatibility>
      </version>
      <version>
         <num>1.2</num>
         <compatibility>9.5</compatibility>
      </version>
   </versions>
   <langs>
      <lang>en_GB</lang>
      <lang>fr_FR</lang>
   </langs>
   <license><![CDATA[AGPL v3+]]></license>
   <tags>
      <fr>
         <tag>Ticket</tag>
      </fr>
      <en>
         <tag>Ticket</tag>
      </en>
   </tags>
</root>
